tasks/validation-checker/src/main/resources/xsd/iso19139/schema/gmd/maintenance.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--

    Copyright 2014-2016 European Environment Agency

    Licensed under the EUPL, Version 1.1 or – as soon
    they will be approved by the European Commission -
    subsequent versions of the EUPL (the "Licence");
    You may not use this work except in compliance
    with the Licence.
    You may obtain a copy of the Licence at:

    https://joinup.ec.europa.eu/community/eupl/og_page/eupl

    Unless required by applicable law or agreed to in
    writing, software distributed under the Licence is
    distributed on an "AS IS" basis,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND,
    either express or implied.
    See the Licence for the specific language governing
    permissions and limitations under the Licence.

-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:gco="http://www.isotc211.org/2005/gco" xmlns:gts="http://www.isotc211.org/2005/gts"
           xmlns:gmd="http://www.isotc211.org/2005/gmd"
           targetNamespace="http://www.isotc211.org/2005/gmd"
           elementFormDefault="qualified"
           version="0.1">
  <!-- ================================= Annotation ================================ -->
  <xs:annotation>
    <xs:documentation>This file was generated from ISO TC/211 UML class diagrams
      == 01-26-2005 12:40:04 ====== Status of the dataset or progress of a
      review
    </xs:documentation>
  </xs:annotation>
  <!-- ================================== Imports ================================== -->
  <xs:import namespace="http://www.isotc211.org/2005/gts"
             schemaLocation="../gts/gts.xsd"/>
  <xs:import namespace="http://www.isotc211.org/2005/gco"
             schemaLocation="../gco/gco.xsd"/>
  <xs:include schemaLocation="../gmd/citation.xsd"/>
  <!-- ########################################################################### -->
  <!-- ########################################################################### -->
  <!-- ================================== Classes ================================= -->
  <xs:complexType name="MD_MaintenanceInformation_Type">
    <xs:annotation>
      <xs:documentation>Information about the scope and frequency of updating
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="gco:AbstractObject_Type">
        <xs:sequence>
          <xs:element name="maintenanceAndUpdateFrequency"
                      type="gmd:MD_MaintenanceFrequencyCode_PropertyType"/>
          <xs:element name="dateOfNextUpdate" type="gco:Date_PropertyType"
                      minOccurs="0"/>
          <xs:element name="userDefinedMaintenanceFrequency"
                      type="gts:TM_PeriodDuration_PropertyType" minOccurs="0"/>
          <xs:element name="updateScope" type="gmd:MD_ScopeCode_PropertyType"
                      minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="updateScopeDescription"
                      type="gmd:MD_ScopeDescription_PropertyType" minOccurs="0"
                      maxOccurs="unbounded"/>
          <xs:element name="maintenanceNote"
                      type="gco:CharacterString_PropertyType" minOccurs="0"
                      maxOccurs="unbounded"/>
          <xs:element name="contact" type="gmd:CI_ResponsibleParty_PropertyType"
                      minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <!-- ........................................................................ -->
  <xs:element name="MD_MaintenanceInformation"
              type="gmd:MD_MaintenanceInformation_Type"/>
  <!-- ........................................................................ -->
  <xs:complexType name="MD_MaintenanceInformation_PropertyType">
    <xs:sequence minOccurs="0">
      <xs:element ref="gmd:MD_MaintenanceInformation"/>
    </xs:sequence>
    <xs:attributeGroup ref="gco:ObjectReference"/>
    <xs:attribute ref="gco:nilReason"/>
  </xs:complexType>
  <!-- =========================================================================== -->
  <xs:complexType name="MD_ScopeDescription_Type">
    <xs:annotation>
      <xs:documentation>Description of the class of information covered by the
        information
      </xs:documentation>
    </xs:annotation>
    <xs:choice>
      <xs:element name="attributes" type="gco:ObjectReference_PropertyType"
                  maxOccurs="unbounded"/>
      <xs:element name="features" type="gco:ObjectReference_PropertyType"
                  maxOccurs="unbounded"/>
      <xs:element name="featureInstances"
                  type="gco:ObjectReference_PropertyType"
                  maxOccurs="unbounded"/>
      <xs:element name="attributeInstances"
                  type="gco:ObjectReference_PropertyType"
                  maxOccurs="unbounded"/>
      <xs:element name="dataset" type="gco:CharacterString_PropertyType"/>
      <xs:element name="other" type="gco:CharacterString_PropertyType"/>
    </xs:choice>
  </xs:complexType>
  <!-- ........................................................................ -->
  <xs:element name="MD_ScopeDescription" type="gmd:MD_ScopeDescription_Type"/>
  <!-- ........................................................................ -->
  <xs:complexType name="MD_ScopeDescription_PropertyType">
    <xs:sequence minOccurs="0">
      <xs:element ref="gmd:MD_ScopeDescription"/>
    </xs:sequence>
    <xs:attribute ref="gco:nilReason"/>
  </xs:complexType>
  <!-- =========================================================================== -->
  <!-- ........................................................................ -->
  <xs:element name="MD_MaintenanceFrequencyCode" type="gco:CodeListValue_Type"
              substitutionGroup="gco:CharacterString"/>
  <!-- ........................................................................ -->
  <xs:complexType name="MD_MaintenanceFrequencyCode_PropertyType">
    <xs:sequence minOccurs="0">
      <xs:element ref="gmd:MD_MaintenanceFrequencyCode"/>
    </xs:sequence>
    <xs:attribute ref="gco:nilReason"/>
  </xs:complexType>
  <!-- =========================================================================== -->
  <!-- ........................................................................ -->
  <xs:element name="MD_ScopeCode" type="gco:CodeListValue_Type"
              substitutionGroup="gco:CharacterString"/>
  <!-- ........................................................................ -->
  <xs:complexType name="MD_ScopeCode_PropertyType">
    <xs:sequence minOccurs="0">
      <xs:element ref="gmd:MD_ScopeCode"/>
    </xs:sequence>
    <xs:attribute ref="gco:nilReason"/>
  </xs:complexType>
  <!-- =========================================================================== -->
</xs:schema>
