tasks/validation-checker/src/main/resources/xsd/iso19139/schema/gmx/extendedTypes.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--

    Copyright 2014-2016 European Environment Agency

    Licensed under the EUPL, Version 1.1 or – as soon
    they will be approved by the European Commission -
    subsequent versions of the EUPL (the "Licence");
    You may not use this work except in compliance
    with the Licence.
    You may obtain a copy of the Licence at:

    https://joinup.ec.europa.eu/community/eupl/og_page/eupl

    Unless required by applicable law or agreed to in
    writing, software distributed under the Licence is
    distributed on an "AS IS" basis,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND,
    either express or implied.
    See the Licence for the specific language governing
    permissions and limitations under the Licence.

-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:gco="http://www.isotc211.org/2005/gco"
           xmlns:gmx="http://www.isotc211.org/2005/gmx"
           targetNamespace="http://www.isotc211.org/2005/gmx"
           elementFormDefault="qualified"
           version="0.1">
  <!-- ================================= Annotation ================================ -->
  <xs:annotation>
    <xs:documentation>This file was generated from ISO TC/211 UML class diagrams
      == 03-14-2005 12:00:20 ====== Handcrafted
    </xs:documentation>
  </xs:annotation>
  <!-- ================================== Imports ================================== -->
  <xs:import namespace="http://www.isotc211.org/2005/gco"
             schemaLocation="../gco/gco.xsd"/>
  <xs:import namespace="http://www.w3.org/1999/xlink"
             schemaLocation="../xlink/xlinks.xsd"/>
  <!-- ########################################################################### -->
  <!-- ########################################################################### -->
  <!-- ================================== Classes ================================= -->
  <!-- ======================== Handcrafted types =================================== -->
  <!-- ========================================================================== -->
  <!-- ====================== The FileName prototype ================================ -->
  <!--It is used to point to a source file and is substitutable for CharacterString-->
  <!--================= Type ==================-->
  <xs:complexType name="FileName_Type">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="src" type="xs:anyURI"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <!-- ........................................................................ -->
  <xs:element name="FileName" type="gmx:FileName_Type"
              substitutionGroup="gco:CharacterString"/>
  <!-- ........................................................................ -->
  <xs:complexType name="FileName_PropertyType">
    <xs:sequence minOccurs="0">
      <xs:element ref="gmx:FileName"/>
    </xs:sequence>
    <xs:attribute ref="gco:nilReason"/>
  </xs:complexType>
  <!-- ========================================================================== -->
  <!-- ====================== The MimeFileType prototype ============================= -->
  <!--It is used to provide information on file types and is substitutable for CharacterString-->
  <!--================= Type ==================-->
  <xs:complexType name="MimeFileType_Type">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="type" type="xs:string" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <!-- ........................................................................ -->
  <xs:element name="MimeFileType" type="gmx:MimeFileType_Type"
              substitutionGroup="gco:CharacterString"/>
  <!-- ........................................................................ -->
  <xs:complexType name="MimeFileType_PropertyType">
    <xs:sequence minOccurs="0">
      <xs:element ref="gmx:MimeFileType"/>
    </xs:sequence>
    <xs:attribute ref="gco:nilReason"/>
  </xs:complexType>
  <!-- ========================================================================== -->
  <!-- ======================= The Anchor prototype ================================ -->
  <!--It is used to point to a registred definition-->
  <!--================= Type ==================-->
  <xs:complexType name="Anchor_Type">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attributeGroup ref="xlink:simpleLink"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <!-- ........................................................................ -->
  <xs:element name="Anchor" type="gmx:Anchor_Type"
              substitutionGroup="gco:CharacterString"/>
  <!-- ........................................................................ -->
  <xs:complexType name="Anchor_PropertyType">
    <xs:sequence minOccurs="0">
      <xs:element ref="gmx:Anchor"/>
    </xs:sequence>
    <xs:attribute ref="gco:nilReason"/>
  </xs:complexType>
  <!--======= End of Schema ======-->
</xs:schema>
